
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

  <!-- Mailbox Tab -->
  <ion-tab title="Mailbox" icon="icon ion-email" href="#/tab/mailbox">
    <ion-nav-view name="mailbox-tab"></ion-nav-view>
  </ion-tab>
  
    <!-- Compose Tab -->
  <ion-tab title="Compose" icon="icon ion-compose" href="#/tab/compose">
    <ion-nav-view name="compose-tab"></ion-nav-view>
  </ion-tab>
  
  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="ion-android-contacts" href="#/tab/friends">
    <ion-nav-view name="friends-tab"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-settings" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
